body {
    background-color: darkslategrey;
}

.container {
    color: lightcoral;
    text-align: center;
}

h1 {
    color: lightcoral;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

button,
div,
form,
input {
    margin: 10px;
    font-family: 'Monda', sans-serif;
}

#giphyImages {
    padding: 5px;
    color: lightcoral;
    border-style: solid;
    border-radius: 25px;
}